{{!-- <div class="jumbo">
  <div class="right tomster"></div>
</div> --}}

{{#each model as |listing|}}
  <article class="listing">
    <div class="details">
      <h3>{{listing.name}}</h3>
      <div class="detail symbol">
        <span>Symbol:</span> {{listing.symbol}}
      </div>
      <div class="detail circulating_supply">
        <span>Circulating Supply:</span> {{listing.circulating_supply}}
      </div>
      <div class="detail max_supply">
        <span>Max Supply:</span> {{listing.max_supply}}
      </div>
      <div class="detail USD">
        <span>USD:</span> {{listing.USD}}
      </div>
    </div>
  </article>
{{/each}}